<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.developnow.ecore2latex.preferences.E2LPreferencePage"
            id="de.developnow.ecore2latex.preferences.E2LPreferencePage"
            name="ecore2latex Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.developnow.ecore2latex.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
